body {
  background-color: #fff; 
  color: #0e7feb; /* brown */
}

a:link    {color:#0e7feb;  text-decoration:none}
a:visited {color:#B24900; text-decoration:none}
a:hover   {color:#FF8633; text-decoration:underline} /* Yellow */

h1{
  font-family: Arial;
  font-size: 450%;
}


/***************
 * Transitions *
 **************/

/* Transition 1 of 2 */
div#box1 {
	background: #9DCEFF;
	width: 400px;
	height: 200px;
}

/* Transition 2 of 2 */
div#box2 {
	background: #9DCEFF;
	width: 400px;
	height: 200px;
}

/* I know that they could be a single class by in this way it wouuld be easier to handle in a real big ptoject*/
